.pagination-buttons {
  margin: 0 auto;
}

.pages-btn {
  background: #fff;
  padding: 5px;
  font-size: 1.2rem;
  margin: 5px;
}

.pages-btn:hover {
  background-color: #eee;
}

.pages-btn-active {
  background: #09db5d;
}

.pages-btn-active:hover {
  background-color: lightgreen;
}

.dots {
  padding: 5px;
  font-size: 1.2rem;
  margin: 5px;
  font-weight: bold;
}
