.th {
  border: 1px solid black;
  padding: 0;
}

.th-btn {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #fff;
}

.th-btn:hover {
  cursor: pointer;
  background-color: #eee;
}

.fas {
  margin-left: 5px;
}
