.amount-selector-form {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.amount-selector {
  font-weight: bold;
  padding: 0 10px;
}

.amount-selector-form-btn {
  margin-left: 20px;
  padding: 9px;
}
